{{#if show}}
  <div class="huayra-propertybar">

    {{#em-tabs selected-idx=tab_idx}}

      {{#em-tab-list}}
        {{#em-tab}}Elementos{{/em-tab}}
        {{#em-tab}}Propiedades{{/em-tab}}
      {{/em-tab-list}}

      {{#em-tab-panel}}
        <p><button class="btn btn-success" {{action "createRectangle"}}>Rectángulo</button></p>
        <p><button class="btn btn-info" {{action "createOval"}}>Ovalo</button></p>
        <p><button class="btn btn-warning" {{action "createText"}}>Texto</button></p>
      {{/em-tab-panel}}

      {{#em-tab-panel}}
        {{huayra-properties}}
      {{/em-tab-panel}}

    {{/em-tabs}}

    {{yield}}
  </div>
{{/if}}
